data/00_*
data/01*
data/02*
data/01*
data/04*
data/05*

docs/
logs/
notebooks/
plots/
results/

src/04_modelling
src/05_model_validation
src/06_model_evaluation

config.yaml
general_knowledge.md
README
