#Used for deployment branch
data/
data.*
results/*
src/config.py #contains sensitive info regarding wards and EC storage number
todo.txt
references/
docs/
notebooks/
DOCKERFILE
.dockerignore
__pycache__